#if the guidelines xml file is modified between commits to the master branch the associate markdown file is updated
name: Update csharp Markdown

on:
  push:
    branches: 
      - 'main'
  workflow_dispatch:
      
jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      XmlFileName: "Guidelines(8th Edition).xml"

    steps:
    - uses: actions/checkout@v6
      with:
          ref: ${{ github.ref }}
          token: ${{ secrets.CI_PAT }}

    - name: Simple Diff
      uses: mudlabs/simple-diff@v1.2.0
      id: diff
      with:
        # The path of the file or folder to find in the commits diff tree.
        path: ./docs/${{ env.XmlFileName }}
        # continue even if the xml file if the file isn't found in the diff tree (it wasn't changed). strict=true causes the action to fail otherwise
        strict : false

    - name: Guidelines xml status 
      run: |
        echo "${{ env.XmlFileName }} modified = ${{ steps.diff.outputs.modified }}"
        echo "${{ steps.diff.outputs.name }}"
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          5.0.x
          6.0.x
      if: ${{ steps.diff.outputs.modified == 'true' }}
      
    - name: restore_compile_run_createMD
      run: >
         dotnet run --configuration Release --project ./Tools/XMLtoMD/GuidelineXmlToMD/GuidelineXmlToMD.csproj 
         -- --xml-input-file "./docs/${{ env.XmlFileName }}" --markdown-output-file "./docs/coding/csharp.md"
      if: ${{ steps.diff.outputs.modified == 'true' }}
      
    - name: Create commit and push to CodingGuideLinesMDUpdate
      run: |
          git config user.name '${{ github.actor }}'
          git config user.email '${{ github.actor }}@users.noreply.github.com'
          git add -A
          git commit -m "new coding guidelines MD File created"
          git push origin '${{ github.ref }}'
      if: ${{ steps.diff.outputs.modified == 'true' }}  
