name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  automerge:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.11.1
        with:
            use-github-auto-merge: true

  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: "./global.json"

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -p:ContinuousIntegrationBuild=True --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal --logger trx --results-directory ./TestResults
    
    - name: Create Failed Tests Playlist
      if: always()
      uses: BenjaminMichaelis/trx-to-vsplaylist@v2
      with:
        trx-file-path: './TestResults/*.trx'
        test-outcomes: 'Failed'
        artifact-name: 'failed-tests-playlist'
    
    - name: Create All Tests Playlist
      if: always()
      uses: BenjaminMichaelis/trx-to-vsplaylist@v2
      with:
        trx-file-path: './TestResults/*.trx'
        test-outcomes: 'Passed,Failed,NotExecuted,Inconclusive,Timeout,Pending'
        artifact-name: 'all-tests-playlist'