# use this action to convert the xml coding guidelines file into the markdown file

name: Update csharp Markdown in selected branch


on: 
  workflow_dispatch:
    inputs:
       commitComment: 
        description: 'Commit Comment'
        required: true
        default: 'Updating docs folder'
        
jobs:
  build:
    runs-on: ubuntu-latest
    
    env:
      XmlFileName: "Guidelines(8th Edition).xml"

    steps:
    - uses: actions/checkout@v2
      with:
          ref: ${{ github.ref }}
          token: ${{ secrets.CI_PAT }}


    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
      #if: ${{ steps.diff.outputs.modified == 'true' }}
      
    - name: restore_compile_run_createMD
      run: |
         dotnet run --configuration Release --project ./XMLtoMD/GuidelineXmlToMD/GuidelineXmlToMD.csproj
         ./XMLtoMD/GuidelineXmlToMD/bin/Release/netcoreapp3.1/GuidelineXmlToMD "${{ env.XmlFileName }}" 
      #if: ${{ steps.diff.outputs.modified == 'true' }}
      
    - name: Create commit and push to CodingGuideLinesMDUpdate
      run: |
          git config user.name '${{ github.actor }}'
          git config user.email '${{ github.actor }}@user.noreply.github.com'
          git add -A
          git commit -m "new coding guidelines MD File created"
          git push origin '${{ github.ref }}'
      #if: ${{ steps.diff.outputs.modified == 'true' }}  
